<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Activar Doble Factor</title>
  <link rel="icon" type="image/x-icon" href="static/Images/ReservAiLogo.png" />
  <link rel="stylesheet" href="static/estilos/QR.css">
  <link rel="stylesheet" href="static/estilos/buttonLoading.css">
</head>
<body>
  <div class="qr-container">
    <div class="qr-title">⚠ Paso importante</div>
    
    <div class="qr-code"></div>
    
    <div class="qr-message">
      Escanea este código QR para usar el doble factor de autenticación.
    </div>
    
    <div class="qr-warning">
      Sin este paso, no podrás ingresar a tu cuenta.
    </div>

    <button id="nextBtn" class="qr-next-btn">Siguiente</button>
  </div>
  <script type="module" src="static/Scripts/qr.js"></script>
</body>
</html>