<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReservAI - Verificación</title>
  <link rel="icon" type="image/x-icon" href="/static/Images/ReservAiLogo.png" />
  <link rel="stylesheet" href="/static/estilos/Styles.css">
  <link rel="stylesheet" href="/static/estilos/buttonLoading.css">
</head>
<body>
  <!-- Contenedor de mensajes -->
  <div id="messageContainer" class="message-container"></div>
  
  <div class="login-container">
    <div class="login-box">
      <div class="logo">
        <img src="static/Images/ReservAiLogo.png" alt="ReservAI Logo">
        <h1>ReservAI</h1>
      </div>

      <h2>Verifica tu correo</h2>

      <h1 class="verification-msg">
        Te hemos enviado un enlace de verificación a tu correo electrónico.  <br><br>
        Por favor revisa tu bandeja de entrada (y la carpeta de spam si no lo encuentras).
      </h1>

      <div id="botones" class="botones">
        <button class="verifybtn">He verificado mi correo</button>
        <button class="resendbtn">Reenviar correo</button>
      </div>
    </div>
  </div>
  <script type="module" src="/static/Scripts/verifyEmail.js"></script>
</body>
</html>
